.App {
  text-align: center;
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: '#212429';
}

.dark-theme {
  color: #212429;
}

.slider-containers{
  min-height: 50vh;
 width: 100vw;
}

.images-carousel{
  min-width: auto;
  min-height: auto;
  margin-top: 70px;
}
.leaflet-container{
  
  height: 80vh;
}

.Menu{
  position: relative;
}