  .ag-flex-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }

  .ag-search-container {
    flex: 1;
    margin-left: 2rem;
  }
  
  .ag-search-alert {
    justify-content: center;
    padding: 2rem;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-right: 10vh;
    border: 1px solid #ccc;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .ag-boton-container {
    display: flex;
    justify-content: center;
  }

  .ag-boton-buscar{
    margin-top: 1.5rem !important;
    background-color: rgb(224, 34, 34) !important;
    border-radius: 7px !important;
    color: white;
    width: 270px;
    height: 45px;
  }

  .ag-boton-buscar:hover {
    background-color: rgb(194, 40, 40) !important;
    cursor: pointer;
  }
  @media screen and (min-width: 1200px){
    .ag-flex-container {
      margin-top: 2rem;
    }
  }