  .event-screen {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 3.5rem;
    justify-content: center;
  }

  .event-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .event-description {
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .event-img {
    height: 140px;
  }

  .item-split {
    flex: 1;
    margin-left: 2.5rem;
  }
  
  .search-event {
    justify-content: center;
    padding: 2rem;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-right: 0vh;
    border: 1px solid #ccc;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .button-search{
    margin-top: 1.5rem !important;
    background-color: rgb(224, 34, 34) !important;
    border-radius: 7px !important;
    color: white;
    width: 270px;
    height: 45px;
  }