.charter-card { 
  width: 200px;
  height: auto;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px !important;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, .3) !important;
  transition: transform 0.3s ease-in-out !important;
}

.charter-card:hover {
  transform: scale(1.05);
}

.charter-cardContent {
  text-align: center;
}

.charter-typography {
  font-family: "Arial Black" !important;
  font-size: 25px !important;
  font-weight: bold !important;
  color: white !important;
}

.charter-title {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-family: Arial Black !important;
  font-size: 100px !important;
  font-weight: bold !important;
  color: white !important;
}

.charter-box {
  width: 100vw !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
